/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  font-family: "Monocraft", monospace;
  background-size: cover;
  background-position: center;
}
