/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monocraft";
  src: url("/public/fonts/Monocraft.ttf") format("truetype"),
    url("/public/fonts/Monocraft.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply text-white overflow-auto;
  font-family: "Monocraft", monospace;

  background-image: url("/public/assets/background.jpg");

  background-size: cover;
  background-position: center;
}
